.wrapper {
  width: 100%;
  max-width: 50rem;
}

.header {
  font-weight: normal;
  margin-bottom: 3rem;
}

.form-wrapper {
  max-width: 20rem;
  width: 100%;
}

.button {
  max-width: 100%;
  margin-top: 3rem;
}

.logo {
  width: 10.63rem;
  position: absolute;
  top: 3.438rem;
  right: 4.375rem;
}

.field input {
  margin-bottom: 1rem;
}

.passwordLink {
  text-align: center;
  display: block;
  margin-top: 3rem;
}

.validable {
  span {
    top: -.7rem;
  }
}
