.container{
  width: 98%;
  display: flex;
  flex-direction: row;

  @media (max-width: 500px) {
    flex-direction: column-reverse;
  }
}

.map {
  flex: 1;
  background-color: #e2e2e2;
  padding: .5rem;
  border-radius:4px;
  box-shadow: 3px 3px #d1d1d1;
}

.content {
  flex: 1;
  background-color: #e2e2e2;
  padding: .5rem;
  border-radius:4px;
  box-shadow: 3px 3px #d1d1d1;
  padding-left: 2rem;
  margin-left: 2rem;
  @media (max-width: 500px) {
    margin-left: 0;
    margin-bottom: .5rem;
  }
}

.header {
  font-size: x-large;
  font-weight: 650;
  @media (max-width: 500px) {
    font-size: 1.5rem;
  }
}

.value {
  font-size: larger;
  font-weight: 550;
  line-height: .6rem;
}

.return {
  font-size: x-large;
}

.delete{
  margin-bottom: 5rem;
}

.button {
  background-color: rgb(3, 170, 3);
  border-radius:8px;
  color: #222;
  font-size: 1.2375rem;
  text-align: center;
  margin-top: 1rem;
  padding: .225rem;
  min-width: 4.25rem;
  cursor: pointer;
  width: 16.625rem;
}

.deleteButton {
  background-color: #ff6767;
  border-radius:8px;
  color: #222;
  font-size: 1.2375rem;
  text-align: center;
  margin-top: 1rem;
  padding: .225rem;
  min-width: 4.25rem;
  cursor: pointer;
  width: 16.625rem;
}

.dataSection{
  display: flex;
  flex-direction: row;
}

.data{
  flex: 5;
}

.points{
  flex: 2;
  font-size: 2.5rem;
  font-weight: 800;
}

.pointCount{
  position: relative;
  top: 25%;
  left: 27%;

  @media (max-width: 500px) {
    top: 55px;
    left: 22px;
  }
}