.container{
  width: 98%;
  display: flex;
  flex-direction: row;

  @media (max-width: 500px) {
    flex-direction: column-reverse;
  }
}

.map {
  flex: 1;
  background-color: #e2e2e2;
  padding: .5rem;
  border-radius:4px;
  box-shadow: 3px 3px #d1d1d1;
}

.content {
  flex: 1;
  background-color: #e2e2e2;
  padding: .5rem;
  border-radius:4px;
  box-shadow: 3px 3px #d1d1d1;
  padding-left: 2rem;
  margin-left: 2rem;
  @media (max-width: 500px) {
    margin-left: 0;
    margin-bottom: .5rem;
  }
}

.header {
  font-size: x-large;
  font-weight: 650;
  @media (max-width: 500px) {
    font-size: 1.5rem;
  }
}

.value {
  font-size: larger;
  font-weight: 550;
  line-height: .6rem;
}

.return {
  font-size: x-large;
}
