.fullView {
  width: 1000px;
}

.windowView {
  width: 350px;
}

.challengeMap {
  height: 400px;
}

.challenge {
  background-color: #e2e2e2;
  box-shadow: 3px 3px #d1d1d1;
  margin-bottom: .825rem;
  padding: .825rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.completedChallenge {
  background-color: #def8ce;
  box-shadow: 3px 3px #c1e1b1;
  margin-bottom: .825rem;
  padding: .825rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.description {
  flex: 1;
  font-size: 1.025rem;
  font-weight: 600;
}

.description {
  flex: 2;
  font-size: 1.025rem;
  font-weight: 600;
}

.finish{
  margin-top: 1rem;
  text-align: center;
  flex:1;
}

.title{
  flex: 2;
  text-align: center;
  font-size: larger;
  font-weight: 800;
  margin-bottom: 1rem;
}

.fullHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
}

.titleFull {
  flex: 1;
  font-size: large;
  font-weight: 800;
}

.descriptionFull {
  flex: 2;
  font-size: larger;
  font-weight: 600;
}

.conditionList {
  flex: 1;
  font-size: larger;
}

.condition {
  font-size: smaller;
}

.button {
  background-color: rgb(3, 170, 3);
  border-radius:8px;
  color: #222;
  font-size: 1.2375rem;
  text-align: center;
  padding: .225rem;
  min-width: 4.25rem;
  cursor: pointer;
  width: 16.625rem;
}

.buttonBack {
  background-color: red;
  border-radius:8px;
  color: #222;
  font-size: 1.2375rem;
  text-align: center;
  padding: .225rem;
  min-width: 4.25rem;
  cursor: pointer;
  width: 16.625rem;
}

.icon {
  padding: .225rem;
  text-align: center;
  margin-bottom: .425rem;
}
