.fullView {
  width: 1000px;
}

.windowView {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.challengeMap {
  height: 400px;
}

.challenge {
  height: 100%;
  background-color: #e2e2e2;
  box-shadow: 3px 3px #d1d1d1;
  margin-bottom: .825rem;
  padding: .725rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: space-between;
  @media (min-width: 500px) {
    height: 19rem;
  }
}

.completedChallenge {
  background-color: #def8ce;
  box-shadow: 3px 3px #c1e1b1;
  margin-bottom: .825rem;
  padding: .825rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.description {
  font-size: 1.025rem;
  font-weight: 600;
  margin-top: 1.225rem;

  @media (max-width: 500px) {
    margin-top: .5rem;
  }
}

.finish{
  margin-top: 1rem;
  text-align: center;
}

.title{
  flex: 2;
  text-align: center;
  font-size: larger;
  font-weight: 800;
  margin-bottom: .225rem;
}

.fullHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.titleFull {
  flex: 1;
  font-size: large;
  font-weight: 900;
  @media (max-width: 500px) {
    margin-bottom: .725rem;
  }
}

.descriptionFull {
  flex: 2;
  font-size: larger;
  font-weight: 600;
  @media (max-width: 500px) {
    font-weight: 500;
  }
}

.conditionList {
  flex: 1;
  font-size: larger;
}

.condition {
  font-size: smaller;
}

.buttonBack {
  background-color: red;
  border-radius:8px;
  color: #222;
  font-size: 1.2375rem;
  text-align: center;
  padding: .225rem;
  min-width: 4.25rem;
  cursor: pointer;
  width: 16.625rem;
}

.icon {
  padding: .225rem;
  text-align: center;
  margin-bottom: .425rem;
}

.finishers{
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}
