
.description {
  font-size: smaller;
}

.challenge {
  background-color: lightblue;
  margin-bottom: .825rem;
  padding: .825rem;
  max-width: 500px;
}

.header {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title{
  flex: 2;
  font-size: xx-large;
}

.image {
  flex: 1;
}
