.bonusPointLabels {
  display: flex;
  justify-content: space-around;
  width: 80%;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.region {
  flex: 1;
  background: #e2e2e2;
  margin: .725rem;
  padding: .225rem;
}

.regionLabel {
  font-size: larger;
  background: lightgray;
  width: 100%;
  padding: .225rem;
  text-align: center;
  font-weight: 600;
}

.bonusPointLabel {
  font-size: 1rem;
  font-weight: 600;
  list-style-type: square;
}

.completedBonusPoint {
  font-size: 1.125rem;
  list-style-type: square;
  font-weight: 700;
  a {
    color: green;

    &:hover {
      color: darkgreen;
    }
  }
}
