.bonusPointLabels {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.region {
  flex: 1;
  background: #e2e2e2;
  margin: 1.225rem;
  padding: .415rem;
}

.regionLabel {
  font-size: larger;
  background: lightgray;
  width: 100%;
  padding: .225rem;
  text-align: center;
  font-weight: 600;
}

.bonusPointLabel {
  font-size: x-small;
  list-style-type: square;
}

.completedBonusPoint {
  font-size: x-small;
  list-style-type: square;
  font-weight: 600;
  a {
    color: green;

    &:hover {
      color: darkgreen;
    }
  }
}
