@import '../../styles/shared/colors';
$_avatar-size: 6.125rem;

.avatar-wrapper {
  position: relative;
  margin-right: 2.375rem;
}
.avatar {
  width: $_avatar-size;
  height: $_avatar-size;
  position: absolute;
  pointer-events: none;
}

.avatar-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.dropzone {
  display: none;
  width: $_avatar-size;
  height: $_avatar-size;
  border: 1px solid $form-border-color;
  border-radius: 4px;
}

.fileUpload{
  height: 4rem;
}