.panel {
  display: flex;
  flex-direction: column;
  margin-left: .425rem;
}

.boxes {
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 20rem;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.data {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #e2e2e2;
  text-align: center;
  align-items: left;
  min-width: 23rem;
  @media (max-width: 500px) {
    min-width: 20rem;
  }
}

.label {
  margin-left: .225rem;
  text-align: center;
}

.info{
  font-size: x-large;

}

.dropzone{
  margin-bottom: 2rem;
  border: 1px dashed black;
  width: 126px;
  padding: 2px;
  height: 126px;
  margin-left: 4rem;
}
