@import '../../styles/shared/colors';

.teamPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team {
  flex: 1;
  background-color: #e2e2e2;
  border-radius:4px;
  margin: .825rem;
  padding: .825rem;
  display: flex;
  flex-direction: column;
  min-width: 22rem;
  max-width: 30rem;
  height: 20rem;
  box-shadow: 3px 3px #d1d1d1;
  @media (max-width: 500px) {
    height: 8rem;
  }
}

.logo {
  flex: 1;
  text-align: center;

  @media (max-width: 500px) {
    display: none;
  }
}

.name {
  text-align: center;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #222;
  font-size: 1.2375rem;
  margin-bottom: .5rem;
  font-weight: 600;

  @media (max-width: 500px) {
    font-size: 0.8375rem;
    margin-bottom: .215rem;
  }
}

.userList {
  flex: 2;
  list-style-type: square;
  @media (max-width: 500px) {
    font-size: smaller;
  }
}

.user {
  font-size: larger;

  @media (max-width: 500px) {
    font-size: smaller;
  }
}


// PANEL

.teamPanelPage{
  width: 80%;
}

.panelHeader{
  text-align: center;
  font-size: large;
  font-weight: 600;

  @media (max-width: 500px) {
    font-size: 1rem;
  }
}

.taskContent{
  margin-bottom: .5rem;
  font-size: x-large;
  font-weight: 600;
}

.teamTasks{
  margin-top: 1rem;
  font-size: large;
}

.teamTask{
  margin-top: .5rem;
  border-radius: 4px;
  padding: 1rem;
}

.rowWithContent{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  text-align: center;
  font-size: larger;
}

.photoContent{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.teamTaskPhoto{
  flex: 1;
  height: 10rem;
  max-width: 10rem;
  border: 1px solid black;
  padding: 2px;
}

.dropzone{
  height: 9.5rem;
  width: 9.5rem;
  padding: .5rem;
  border: 1px black dashed ;
}

.teamTaskPhotoDetails{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-size: larger;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.taskName{
  font-size: x-large;
  font-weight: 600;
  text-align: center;
}

.photoView{
  margin: 1rem;

  @media (min-width: 500px) {

    margin-right: 10rem;
  }
}

.metadata{
  text-align: center;
}

.info{
  font-weight: 600;
}

.update{
  margin-top: 1rem;
}

.delete{
  margin-top: 1rem;
}