@import '../../styles/shared/colors';

.team {
  background-color: #e2e2e2;
  border-radius:4px;
  margin: .825rem;
  padding: .825rem;
  display: flex;
  flex-direction: column;
  min-width: 22rem;
  height: 30rem;
  box-shadow: 3px 3px #d1d1d1;
}

.logo {
  flex: 1;
  text-align: center;
}

.name {
  text-align: center;
  font-weight: 800;
  margin-bottom: 1rem;
  color: #222;
  font-size: 1.4375rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.userList {
  flex: 2;
  list-style-type: square;
  font-size: larger;
}

.user {
  font-size: 1rem;
  font-size: larger;
}