.contactBox {
  width: 60%;
  background-color: #e2e2e2;
  padding: 1rem;
  box-shadow: 3px 3px #d1d1d1;
}

.email {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: larger;
  margin-left: 2rem;
}