@import '../../styles/shared/colors';
@import '../../styles/shared/variables';

$_sidebar-bg-color: #f8f9fd;

.main {
  position: relative;
  overflow-x: hidden;
  flex: 1;
  background-color: $brand-light;
  display: flex;
}

.mainNavigation {
  overflow: hidden;
  height: calc(100vh - #{$topbar-height});
}

.container {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.navigation {
  background-color: $_sidebar-bg-color;
  height: calc(100vh - #{$topbar-height});
  overflow: auto;
}

.content {
  margin-top: $topbar-height;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-top: 4rem;
}

.wrapper {
  flex: 1;
  display: flex;
  min-width: 0;
}

.wrapperNavigation {
  padding-top: 5.375rem;
  flex: 2;
  display: flex;
  height: 100vh;
  overflow: hidden;

  & > div:first-child {
    padding-bottom: .9375rem;
  }
}

.simpleWrapper {
  display: flex;
  min-height: 100vh;
  background-color: $brand-light;
}
.simpleLogo {
  width: 15.63rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.signupWrapper {
  background-color: $brand-light;
}
