$_login-form-bg-color: #d6d6d3;
$_login-form-button-color: #35661e;

.wrapper {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $_login-form-bg-color;
}

.header {
  font-weight: normal;
  margin-bottom: 3rem;
}

.form-wrapper {
  max-width: 22.75rem;
  width: 100%;
}

.button {
  max-width: 100%;
  margin-top: 5rem;
  background-color: $_login-form-button-color;
}

.logo {
  width: 20.63rem;
  position: absolute;
  top: 3.438rem;
  right: 4.375rem;
}

.field input {
  margin-bottom: 1rem;
}

.returnLink {
  text-align: center;
  display: block;
  margin-top: 3.125rem;
}

.validable {
  span {
    top: -.7rem;
  }
}
