.content{
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 2rem;
}

.title{
  flex: 1;
  font-size: larger;
  font-weight: 700;
  margin-bottom: 1rem;
}

.map{
  flex: 2;
}

.mapSplit{
  display: flex;
  flex-direction: row;

  @media (max-width: 1200px) {
    flex-direction: column;
  }
}