@import '../../styles/shared/variables';

:global {
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
  }

  .popup-wrapper {
    position: absolute;
    background: #fff;
    width: 60%;
    max-width: 37.5rem;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: $popup-box-shadow;
    transition: transform .5s;
    padding: 1.25rem 2.5rem 3.75rem;
    z-index: 102;
  }

  .popup-close-btn {
    position: absolute;
    top: .625rem;
    right: .625rem;
    font-size: 1.875rem;
    font-weight: bold;
    cursor: pointer;
  }

  .popup-btn {
    margin-right: .9375rem;
    cursor: pointer;

    &[disabled] {
      cursor: not-allowed;
      opacity: .5;
    }
  }
}
