.event{
  @media (min-width: 500px) {
    border: 2px solid rgba(103, 90, 128, 0.2);
    border-radius: 4px;
  }
}

.eventDisplayRow{
  display: flex;
  flex-direction: column;
}

.eventYear{
  flex: 1;
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}

.eventYear:hover {
  color: rgb(4, 4, 153);
}

.eventMaps{
  flex: 2;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media (max-width: 500px) {
    flex-direction: column;
  }
}

.mapComponent{
  flex: 2;
  display: flex;
  flex-direction: column;
}

.mapHeader{
  flex: 1;
  font-size: larger;
}

.headerText{
  margin-left: 1.725rem;
  font-weight: 650;
  font-size: smaller;
}

.headerText:hover {
  color: rgb(4, 4, 153);
}

.mapBox{
  flex: 1;
  margin: 1rem;
  min-width: 25rem;
}
