.button{
  padding: 1rem;
  background-color: chartreuse;
  border-radius: 12px;
  min-width: 20rem;
  font-size: larger;
  font-weight: 600;
}

.cryptoGoodSolutions{
  margin-top: 1rem;
  color: green;
}

.cryptoBadSolutions{
  margin-top: 1rem;
  color: red;
}

.solution{
  margin-top: .5rem;
  font-size: larger;
}