.participationDiv {
  background-color:rgb(64, 65, 80);
  color: white;
  margin: .825rem;
  padding: 1.825rem;
  max-width: 500px;
  font-size: x-large;
  display: inline-block;
}

.description {
  font-size: smaller;
}