@import '../../styles/shared/colors';
@import '../../styles/shared/variables';
$_border-color: #48506b;

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: space-between  ;
  background-color: $brand-light;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  z-index: 100;
  width: 80%;
  color: #000000;
  height: $topbar-height;
  border-bottom: 2px solid #e2e2e2;
}

.menu {
  flex: 5;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  flex-direction: row;
  justify-content: flex-start;
  background-color: $brand-light;
  @media (max-width: 500px) {
    display: none;
  }
}

.menuItem {
  margin-top: 1.325rem;
  padding-left: 1.525rem;
  padding-top: .425rem;
}

.buttons {
  flex: 2;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 1rem;
}

.button {
  flex: 1;
  margin-top: .825rem;
  background-color: #d3e2eb;
  border: 1px solid black;
  border-radius: 4px;
  width: 120px;
  height: 30px;
  padding: .315rem;
  text-align: center;
  margin-left: 1rem;
  opacity: 70%;
  cursor: pointer;


  &:hover {
    opacity: 100%;
  }

  @media (max-width: 500px) {
    padding: .125rem  ;
  }
}

.logout {
  flex: 1;
  margin-top: .825rem;
  background-color: #d3e2eb;
  border: 1px solid black;
  border-radius: 4px;
  width: 120px;
  height: 30px;
  padding: .515rem;
  text-align: center;
  margin-left: 1rem;
  opacity: 70%;
  cursor: pointer;


  &:hover {
    opacity: 100%;
  }
}


.darkButton {
  flex: 1;
  margin-top: .825rem;
  background-color: #aabbcc;
  border: 1px solid black;
  border-radius: 4px;
  width: 105px;
  height: 30px;
  padding: .415rem;
  text-align: center;
  margin-left: 1rem;

  &:hover {
    opacity: 100%;
  }
}

.link{
  opacity: 70%;

  &:hover {
    opacity: 100%;
  }
}

.fbLogo {
  max-width: 20px;
  margin-top: -.815rem;
}

.logo {
  max-width: 50px;
  color: #000;
  margin-left: .625rem;

  &:hover {
    color: #a2a2a2;
  }

  svg {
    margin-top: -1.215rem;
    width: 1.625rem;
  }
}
