@import '../../styles/shared/colors';


.container {
  width: 100%;
  padding: 1rem;
}

.content {
  background-color:#e2e2e2;
  margin-top: 2rem;
  padding: 1rem;
}


.header {
  font-size: x-large;
  font-weight: 900;
  margin-bottom: 2rem;
}

.label {
  min-width: 8rem;
  margin-right: 1rem;
  padding-bottom: 2.825rem;
}

.value {
  font-size: larger;
}