@import '../../styles/shared/colors';
@import '../../styles/shared/variables';

$_checkbox-size: .875rem;
$_number-of-visible-checkboxes: 5;

.input-wrapper {
  margin-bottom: .5rem;
}

.input {
  position: absolute;
  left: -9999px;
  display: none;
}

.label {
  position: relative;
  padding-left: 1.5625rem;
  padding-top: .0625rem;
  cursor: pointer;
  line-height: 1rem;
  display: inline-block;
  font-family: $base-font;
  font-weight: $base-font-light;
  font-size: 1rem;
  color: $text-light;
  transition: opacity .2s ease;

  &:before,
  &:after {
    position: absolute;
    left: 0;
    top: 1px;
    width: $_checkbox-size;
    height: $_checkbox-size;
  }

  &:before {
    content: '';
    border: 1px solid $text-light;
    background-color: transparent;
  }

  &:after {
    content: url(./check.svg);
    color: #fff;
    background: $primary;
    transform: scale(0);
    text-align: center;
  }
}

.input:checked + label {
  color: $text-primary;
}

.input:checked + label:after {
  transform: scale(1);
}

.input:disabled + label {
  opacity: .3;
  cursor: not-allowed;
}

.group {
  margin: 0;
  padding: 0;
  list-style: none;
  max-height: 12.8125rem;
  overflow-y: auto;
}

.group--collapsed {
  > li:nth-child(n+#{$_number-of-visible-checkboxes + 1}) {
    display: none;
  }
}

.moreButton {
  font-size: .875rem;
  color: $text-primary-button;
  cursor: pointer;
}
