@import '../../styles/shared/colors';
@import '../../styles/shared/variables';

$_checkbox-size: .875rem;
$_checkbox-label-color: #22304c;
$_checkbox-label-bg: #f4f2f3;

.input-wrapper {
  margin-bottom: .5rem;
}

.input {
  position: absolute;
  left: -9999px;
}

.label {
  position: relative;
  cursor: pointer;
  line-height: $_checkbox-size;
  display: block;
  font-family: $base-font;
  font-weight: $base-font-light;
  font-size: .875rem;
  color: $text-light;
  transition: opacity .2s ease;
  padding: .4375rem .625rem;
  border-radius: 20px;

  &:before,
  &:after {
    position: absolute;
    right: .4375rem;
    top: .4375rem;
    width: $_checkbox-size;
    height: $_checkbox-size;
  }

  &:after {
    content: url(./check-blue.svg);
    color: #fff;
    transition: transform .2s ease;
    transform: scale(0);
    text-align: center;
    padding-top: .0625rem;
    padding-left: .0625rem;
  }

  &:hover {
    background-color: $_checkbox-label-bg;
    color: $_checkbox-label-color;
    font-weight: $base-font-semibold;
  }
}

.input:checked + label:after {
  transform: scale(1);
}

.input:checked + label {
  background-color: $_checkbox-label-bg;
  color: $_checkbox-label-color;
  font-weight: $base-font-semibold;
}

.input:disabled + label {
  opacity: .3;
  cursor: not-allowed;
}
