@import '../../styles/shared/colors';

$_fileupload-label-box-shadow: 0 2px 24px 0 rgba(72, 128, 255, .2);
$_fileupload-label-hover-box-shadow: 0 4px 6px 0 rgba(194, 194, 194, .50);

.wrapper {
  display: flex;
  align-items: center;
}

.input {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.value {
  display: inline-block;
  font-size: .875rem;
  margin-right: 1rem;
  max-width: 9.375rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input + label {
  color: white;
  background-color: $brand-blue;
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  font-size: .75rem;
  box-shadow: $_fileupload-label-box-shadow;
  border-radius: 2px;
  transition: box-shadow .3s ease-in-out;
}

.input:focus + label,
.input + label:hover {
  box-shadow: $_fileupload-label-hover-box-shadow;
}

.button {
  padding: .1875rem .625rem;
}

.tootlip {
  text-align: left;
}
