.riddle {
  flex: 1;
  background-color:#e2e2e2;
  padding: .825rem;
  margin: 1.825rem;  
  min-width: 20rem;
  box-shadow: 3px 3px #d1d1d1;
}

.title {
  text-align: center;
  font-size: x-large;
  font-weight: 800;
}

.sponsor {
  text-align: center;
  font-size: larger;
  font-weight: 600;
}


.label {
  text-align: center;
  font-size: larger;
  font-weight: 600;
}

.riddleContent {
  font-size: medium;
  padding-left: 2rem;
}