.infoBox {
  width: 50%;
  background-color: lightblue;
  padding: 1rem;
}

.email {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 600;
  font-size: larger;
  margin-left: 2rem;
}