.bonusPoint {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.finishers{
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}

.mapsAndCheck{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 500px){
    flex-direction: column-reverse;
  }
}

.maps{
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  @media (max-width: 500px){
    flex-direction: column;
  }
}